absl-py==1.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.4
aiosignal==1.4.0
annotated-doc==0.0.4
annotated-types
anyio
argon2-cffi
argon2-cffi-bindings
arrow
asgiref==3.5.2
asttokens
astunparse==1.6.3
async-lru
async-timeout==5.0.1
attrs
babel
beautifulsoup4
bleach
Brotli
cached-property
cachetools==5.2.0
certifi
cffi
charset-normalizer
click==8.3.1
colorama
comm
contourpy
cycler
datasets==4.8.4
debugpy
decorator
defusedxml
dill==0.4.1
distro
Django==4.0.5
exceptiongroup
executing
fastjsonschema
filelock
flatbuffers==1.12
fonttools
fqdn
frozenlist==1.8.0
fsspec==2026.2.0
gast==0.4.0
google-auth==2.8.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
graphviz==0.21
grpcio==1.54.0
h11
h2
h5py==3.7.0
hf-xet==1.4.2
hpack
httpcore
httpx
huggingface_hub==1.8.0
hyperframe
idna
image==1.5.33
importlib_metadata
ipykernel
ipython
ipywidgets==8.1.8
isoduration
jedi
Jinja2
jiter
joblib==1.5.1
json5
jsonpointer
jsonschema
jsonschema-specifications
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets==3.0.16
Keras-Preprocessing==1.1.2
kiwisolver
lark
lazy_loader==0.4
libclang==14.0.1
load-dotenv==0.1.0
Markdown==3.3.7
markdown-it-py==4.0.0
MarkupSafe
matplotlib==3.9.1
matplotlib-inline
mdurl==0.1.2
mistune
mne==1.10.1
mpmath
multidict==6.7.1
multiprocess==0.70.19
munkres==1.1.4
nbclient
nbconvert
nbformat
nest_asyncio
networkx
notebook_shim
numpy==2.2.6
oauthlib==3.2.0
openai
opt-einsum==3.3.0
overrides
packaging
pandas
pandocfilters
parso
patsy
pickleshare
Pillow==9.1.1
platformdirs
ply
pooch==1.8.2
prometheus_client
prompt_toolkit
propcache==0.4.1
psutil
pure_eval
pyarrow==23.0.1
pyasn1-modules==0.2.8
pycparser
pydantic
pydantic_core
Pygments
pyparsing
PyQt5==5.15.9
PyQt5-sip
pyriemann==0.9
PySocks
python-dateutil
python-dotenv==1.2.2
python-json-logger
pytz
pywin32
pywinpty
PyYAML
pyzmq
referencing
regex
requests
requests-oauthlib==1.3.1
rfc3339_validator
rfc3986-validator
rfc3987-syntax
rich==14.3.3
rpds-py
rsa==4.8
scikit-learn==1.7.1
scipy==1.15.2
seaborn
Send2Trash
shellingham==1.5.4
sip
six==1.16.0
sniffio
soupsieve
sqlparse==0.4.2
stack_data
statsmodels
sympy
tensorboard==2.9.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow-estimator==2.9.0
tensorflow-io-gcs-filesystem==0.26.0
termcolor==1.1.0
terminado
threadpoolctl==3.6.0
tiktoken
tinycss2
toml
tomli
torch==2.5.1
torchaudio==2.5.1
torchsummary==1.5.1
torchvision==0.20.1
tornado
tqdm==4.67.1
traitlets
typer==0.24.1
types-python-dateutil
typing-inspection
typing_extensions
typing_utils
tzdata
unicodedata2
uri-template
urllib3
wcwidth
webcolors
webencodings
websocket-client
Werkzeug==2.1.2
widgetsnbextension==4.0.15
win_inet_pton
wrapt==1.14.1
xxhash==3.6.0
yarl==1.23.0
zipp
zstandard==0.23.0
